<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @volunteer.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @volunteer.phone %>
</p>

<p>
  <strong>House:</strong>
  <%= link_to @volunteer.house.name, @volunteer.house %>
</p>

<%= link_to 'Edit', edit_volunteer_path(@volunteer) %> |
<%= link_to 'Back', volunteers_path %>
