<%= form_for(@house) do |f| %>

  <% if @house.errors.any? %>
        <br>
    <div id="error_explanation">
      <h4 style="color: #ff0000"><%= pluralize(@house.errors.count, "error") %> prohibited this house from being saved:</h4>
      <ul>
      <% @house.errors.full_messages.each do |message| %>
        <li style="color: #ff0000"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><small> *</small><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
    <br>
    <p><small>* Required field</small></p>
  <div class="actions">
    <%= f.submit %>
  </div>
    <br>

<% end %>
