<h1>Innisfree Houses</h1>
<p>
  Download:
  <%= link_to "CSV", houses_path(format: "csv") %>
</p>
<div class="row">
<% @houses.each do |house| %>
<div class="col-md-4">
<div class="panel panel-default">
  <div class="panel-heading"><strong><%= link_to house.name, house %></strong> <small>(<%= link_to 'Edit', edit_house_path(house) %>, <%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %>)</small>
  </div>
  <div class="panel-body">
    Residents<br>
    <ul>
      <% house.residents.each do |resident| %>
        <li> <%= link_to resident.name, resident %></li>
      <% end %>
    </ul>
    <br>
    Volunteers<br>
    <ul>
      <% house.users.each do |volunteer| %>
        <li> <%= link_to volunteer.name, volunteer %></li>
      <% end %>
    </ul>
</div>
</div>
</div>
<% end %>
</div>


<br>

<% if current_user.admin %>
    <%= link_to 'New House', new_house_path %> <br>
    <%= link_to 'New Resident', new_resident_path %>
<% end %>
