<h1><%= @house.name %></h1>

<p>
  <strong>Name:</strong>
  <%= @house.name %>
</p>

<p>
  <strong>Residents:</strong>
  <% @house.residents.each do |r| %>
  	<li><%= link_to r.name, r %></li>
  <% end %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @house.phone %>
</p>

<p>
  <strong>Volunteers:</strong>
  <% @house.users.each do |v| %>
  	<li><%= link_to v.name, v %></li>
  <% end %>
</p>
<br>
<%= link_to 'Back to Houses', houses_path %>

<% if current_user.admin %>
    | <%= link_to 'Delete House', @house, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<% if current_user.admin || current_user.house == @house %>
    | <%= link_to 'Edit House', edit_house_path(@house) %>
<% end %>
<% if current_user.admin %>
    | <%= link_to 'New House', new_house_path, method: :get, class: "mobile-size" %>
<% end %>
