<h4>Upcoming appointment today</h4>
Hello <%= @appointment.user.name %>, 

This is a reminder that today at <b><%= @appointment.time.strftime("%I:%M %p") %></b>, you are accompanying <b><%= @appointment.resident.name %></b> to an appointment with <b><%= appointment.doctor.name %></b>. The office is located <%= link_to 'here', map_link(@appointment.doctor.address) %>.

Thanks and have a great day!