<h1>Innisfree Users</h1>
<% if current_user.admin %>
    <%= button_to 'New User', new_user_path, method: :get %>
<% end %>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Role</th>
    <% if current_user.admin %>
        <th colspan="3"></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= mail_to user.email %></td>
        <td><%= number_to_phone(user.phone) %></td>

            <% if user.admin %>
                <td><%= "Staff" %></td>
            <% else %>
                <td><%= "Volunteer" %></td>
            <% end %>

        <% if current_user.admin %>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <% end %>
        <%#<td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %><%#</td>%>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<br>
<br>
<p>
  <%= link_to "Download as CSV", users_path(format: "csv") %>
</p>
<%#= link_to "Generate PDF", users_path(@page, :format => "pdf") %>
