<h3><%= @user.name %></h3>
<% if @user.house != nil %>
    <li><b>House: </b><%= @user.house.name %></li>
<% end %>
<% if @user.email != "" %>
    <li><b>Email: </b><%= @user.email %></li>
<% end %>
<% if @user.phone != "" %>
    <li><b>Phone: </b><%= number_to_phone(@user.phone) %></li>
<% end %>
<% if @user.admin %>
    <li><b>Role: </b><%= "Staff" %></li>
<% else %>
    <li><b>Role: </b><%= "Volunteer" %></li>
<% end %>
<% if @user.last_sign_in_at %>
    <li><b>Last Sign-In: </b><%= @user.last_sign_in_at.strftime("%x") + " at " + @user.last_sign_in_at.strftime("%r")%></li>
<% else %>
    <li><b>Last Sign-In: </b><%= "Never" %>
<% end %>
<li><b>User Created: </b><%= @user.created_at.strftime("%x") + " at " +  @user.created_at.strftime("%r")%></li>
<% if @user.email_pref %>
    <li><b>Email preference: </b>Receiving email reminders / digests</li>
<% else %>
    <li><b>Email preference: </b>Not receiving Innisfree emails</li>
<% end %>
<br>
<% if current_user.id == @user.id || current_user.admin%>

    <% if current_user.id == @user.id %>
        <%= link_to "Edit profile", edit_user_path(@user) %></li>
    <% else %>
        <%= link_to "Edit user", edit_user_path(@user) %></li>
    <% end %>
    <br>
    <%= link_to 'Delete user', @user, method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>