<h1>User privileges</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Approved?</th>
      <th>Staff?</th>
      <th>House</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= mail_to user.email %></td>

        <% if user.admin %>
        	<td><%= link_to "Y", admin_user_path(user), method: :put, class: "btn btn-success", style: "width: 40px;" %></td>
        <% else %>
			<td><%= link_to "N", admin_user_path(user), method: :put, class: "btn btn-warning", style: "width: 40px;" %></td>
        <% end %>

        <% if user.house.nil? %>
        	<td>No house linked</td>
        <% else %>
			<td><%= link_to user.house.name, user.house %></td>
        <% end %>

        <td><%= link_to "Edit", edit_user_path(user) %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<h2>Create new user</h2>
<%= form_tag(create_user_path, class: "form form-horizontal", role: "form") do %>
  <%= text_field_tag :name, nil, placeholder: "Name" %><br>
  <%= text_field_tag :email,nil, placeholder: "Email" %><br>
  <%= text_field_tag :phone, nil, placeholder: "Phone" %><br>
  <%= select_tag :house_id, options_for_select( @houses.map{ |h| [h.name, h.id] }), include_blank: true %><br>
  <%= password_field_tag :password, nil, placeholder: "Password" %><br>
  <%= password_field_tag :password_confirmation, nil, placeholder: "Confirm password" %><br>
  <%= submit_tag("Create User", class: "btn btn-success") %><br>
<% end %>
<br>
<br>
