<%= form_for(@doctor) do |f| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field mobile-size">
    <%= f.label :doctor_type %><br>
    <%= f.text_field :doctor_type %>
  </div>
  <div class="field mobile-size">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field mobile-size">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field mobile-size">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="actions mobile-size">
    <%= f.submit %>
  </div>
<% end %>
