<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>
<p>
  <strong>Type:</strong>
  <%= @doctor.doctor_type %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @doctor.phone %>
</p>
<p>
  <strong>Address:</strong>
  <%= link_to @doctor.address, map_link(@doctor.address) %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @doctor.phone %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
