<p id="notice"><%= notice %></p>

<h1><%= @doctor.name %></h1>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>
<p>
  <strong>Type:</strong>
  <%= @doctor.doctor_type %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @doctor.phone %>
</p>
<p>
  <strong>Address:</strong>
  <%= link_to @doctor.address, map_link(@doctor.address) %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @doctor.phone %>
</p>

<br>
<%= link_to 'Back to Doctors', doctors_path %>
<% if current_user.admin %>
    | <%= link_to 'Delete Doctor', @doctor, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Edit Doctor', edit_doctor_path(@doctor) %> |
    <%= link_to 'New Doctor', new_doctor_path, method: :get, class: "mobile-size" %>
<% end %>
