<%= form_for(@resident) do |f| %>
  <% if @resident.errors.any? %>
        <br>
    <div id="error_explanation">
      <h4 style="color: #ff0000"><%= pluralize(@resident.errors.count, "error") %> prohibited this resident from being saved:</h4>

      <ul>
      <% @resident.errors.full_messages.each do |message| %>
        <li style="color: #ff0000"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><small> *</small><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :house_id %><br>
    <% houses = House.all.map { |house| [house.name, house.id] } %>
    <%= f.select(:house_id, houses, { include_blank: false }, { :class => 'chosen-select' }) %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
    <br>
    <p><small>* Required field</small></p>
  <div class="actions">
    <%= f.submit %>
  </div>
    <br>
<% end %>
