<h1>Listing residents</h1>
<p>
  Download:
  <%= link_to "CSV", houses_path(format: "csv") %>
</p>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>House</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @residents.each do |resident| %>
      <tr>
        <td><%= resident.name %></td>
        <td><%= resident.house.name %></td>
        <td><%= resident.notes %></td>
        <td><%= link_to 'Show', resident %></td>
        <td><%= link_to 'Edit', edit_resident_path(resident) %></td>
        <td><%= link_to 'Destroy', resident, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resident', new_resident_path %>
