<%= form_for(@appointment) do |f| %>
    <% if @appointment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

          <ul>
            <% @appointment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :resident_id %><br>
      <% if current_user.admin %>
          <% residents = Resident.all.map { |r| [r.name, r.id] } %>
      <% else %>
          <% residents = Resident.all.select{ |r| r.house_id == current_user.house_id }.map { |r| [r.name, r.id] } %>
      <% end %>
      <% logger.debug "residentS: " %>
      <% logger.debug residents[0] %>
      <% if params.has_key?(:resident_id) %>
          <%= f.select(:resident_id, options_from_collection_for_select(residents, "last", "first", params[:resident_id].to_i), { include_blank: true }, { :class => 'chosen-select' }) %>
      <% else %>
          <%= f.select(:resident_id, residents, { include_blank: true }, { :class => 'chosen-select' }) %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :doctor_id %><br>
      <% doctors = Doctor.all.map { |p| [p.name, p.id] } %>
      <% if params.has_key?(:doctor_id) %>
          <%= f.select(:doctor_id, options_from_collection_for_select(doctors, "last", "first", params[:doctor_id].to_i), { include_blank: true }, { :class => 'chosen-select' }) %>
      <% else %>
          <%= f.select(:doctor_id, doctors, { include_blank: true }, { :class => 'chosen-select' }) %>
      <% end %>

    </div>
    <div class="field">
      <%= f.label "Volunteer" %><br>
      <% if current_user.admin %>
          <% users = User.all.map { |v| [v.name, v.id] } %>
      <% else %>
          <% users = User.all.select{ |u| u.house_id == current_user.house_id }.map { |v| [v.name, v.id] } %>
      <% end %>
      <%= f.select(:user_id, users, { include_blank: true }, { :class => 'chosen-select' }) %>
    </div>
    <div class="field">
      <%= f.label :date %><br>
      <%= f.date_select :date %>
    </div>
    <div class="field">
      <%= f.label :time %><br>
      <%= f.time_select :time, {:ampm => true, :minute_step=>5}%>
    </div>
    <div class="field">
      <%= f.label "Appointment Type" %><br>
      <% types = @types.map {|t| [t.apt_type, t.apt_type]} %>
      <% if params.has_key?(:doctor_id) %>
          <%= f.select(:apt_type, options_from_collection_for_select(types, "last", "first", params[:apt_type]), { include_blank: true }, { :class => 'chosen-select', :id => 'select_type' }) %>
      <% else %>
          <%= f.select(:apt_type, types, { include_blank: true }, { :class => 'chosen-select', :id => 'select_type' }) %>
      <% end %>
    </div>
    <% if current_user.admin %>
      <button id="new_apt_type_button" type="button" class="button">New Appointment Type</button>
    <% end %>

   <div id="newEventModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
           <label for="new_apt_type">Type to Add:</label><br>
           <input type="text" id="new_apt_type">
           <br>
           <button id="add_type" type="button" class="btn btn-default">Save</button>
           <%= render 'apttypes' %>
        </div>
    </div>
</div>

    <div class="field">
      <%= f.label :notes %><br>
      <%= f.text_area :notes %>
    </div>

    <br>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
