<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :resident_id %><br>
    <% residents = Resident.all.map { |r| [r.name, r.id] } %>
    <%= f.select(:resident_id, residents) %>
  </div>
  <div class="field">
    <%= f.label :physician_id %><br>
    <% physicians = Physician.all.map { |p| [p.name, p.id] } %>
    <%= f.select(:physician_id, physicians) %>
  </div>
  <div class="field">
    <%= f.label :volunteer_id %><br>
    <% volunteers = Volunteer.all.map { |v| [v.name, v.id] } %>
    <%= f.select(:volunteer_id, volunteers) %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label :for %><br>
    <%= f.text_field :for %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
