<h1>Resident Appointments</h1>

<%= render 'filter' %>

<%if not current_user.house == nil %>
    <% if current_user.admin || current_user.house.name != 'Workstation Heads' %>
        <h4><%= button_to 'New Appointment', new_appointment_path, method: :get, class: "mobile-size" %></h4>
    <% end %>
<% else %>
    <h4><%= button_to 'New Appointment', new_appointment_path, method: :get, class: "mobile-size" %></h4>
<% end %>

<br>
<div class="row">
    <h2>Upcoming</h2>
    <div id="upcoming">
      <%= render :partial => "upcoming", locals: {:paginate => true} %>
    </div>
</div>
<div class="row">
  <div id="fullCalendar"></div>
</div>

<div id="fullCalModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
        <h4 id="modalTitle" class="modal-title"></h4>
     </div>
     <div id="modalBody" class="modal-body"></div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>
  </div>
</div>

<% if current_user.admin %>
<p>
  <%= link_to "Download as CSV", appointments_path(format: "csv") %>
</p>
<% end %>

<div id="addTypeModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
        <h4 id="modalTitle" class="modal-title"></h4>
      </div>
      <div id="typeModalBody" class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<hr>
