<p id="notice"><%= notice %></p>

<p>
  <strong>Resident:</strong>
  <%= @appointment.resident.name %>
</p>

<p>
  <strong>Physician:</strong>
  <%= @appointment.physician.name %>
</p>

<p>
  <strong>Volunteer:</strong>
  <% if @appointment.user.nil? %>
    No volunteer assigned
  <% else %>
    <%= @appointment.user.name %>
  <% end %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @appointment.time %>
</p>

<p>
  <strong>For:</strong>
  <%= @appointment.for %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @appointment.notes %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>

<h3>Revisions to this Appointment</h3>
<% @appointment.versions.reverse.each do |v| %>
  <li><%= User.where(id: v.whodunnit.to_i).first.name %> <%= v.event %>d the appointment <%= time_ago_in_words(v.created_at) %> ago.</li>
<% end %>
