<h3>New Car Reservation</h3>
<%= form_tag(get_availability_path, method: 'post') do %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this from being saved:</h2>
      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= label_tag 'User' %>
    <%= select_tag('user_id', options_from_collection_for_select(User.all, :id, :name, current_user.id), {}) %> <br> <br>
    <%= label_tag 'Reservation Date' %>
    <%= date_field_tag 'date', Date.today %><br>  <br>
    <%= label_tag 'Start time' %>
    <%= time_select 'reservation_start', Time.now, {:ampm => true, :minute_step=>15, :ignore_date=>true} %><br> <br>
    <%= label_tag 'End time' %>
    <%= time_select 'reservation_end', Time.now, {:ampm => true, :minute_step=>15, :ignore_date=>true} %>
  </div>
  <br>
  <div class="actions">
    <%= submit_tag("See Available Cars", class: "btn btn-success") %><br>
  </div>
<% end %>
