<h3>Select car and Confirm</h3>
<%= form_tag(save_reservation_path, method: 'post') do %>
  <div class="field">
    <%= label_tag 'Start time' %><br>
    <%= @reservation.start.strftime("%I:%M %p on %a %b %d %Y") %><br>
    <%= hidden_field_tag 'reservation_start', :value => @reservation.start%>
    <%= label_tag 'End time' %><br>
    <%= @reservation.finish.strftime("%I:%M %p on %a %b %d %Y") %><br><br>
    <%= hidden_field_tag 'reservation_end', :value => @reservation.finish%>
  </div>
    <%= label_tag 'Choose an Available Car:' %><br>
    <%= select_tag 'car', options_from_collection_for_select(@cars, 'id', 'name') %><br><br>
    <%= label_tag 'Purpose of car reservation:' %><br>
    <%= text_area_tag 'note' %><br><br>

  <div class="actions">
    <%= submit_tag("Save Reservation", class: "btn btn-success") %><br>
  </div>
<% end %>
<br>
<%= link_to 'Back', new_reservation_path %>