<header class="navbar navbar-default" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../" class="navbar-brand">Innisfree</a>
    </div>

    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <% if user_signed_in? %>
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "Residents", residents_path %>
        </li>
        <li>
          <%= link_to "Volunteers", volunteers_path %>
        </li>
        <li>
          <%= link_to "Houses", houses_path %>
        </li>
        <li>
          <%= link_to "Physicians", physicians_path %>
        </li>
        <li>
          <%= link_to "Appointments", appointments_path %>
        </li>
      </ul>
      <% end %>
        <ul class="nav navbar-nav pull-right">
          <% if user_signed_in? %>
            <p class="navbar-text">Hello <strong><%= current_user.email %></strong></p>
            <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li>
            <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
          <% end %>
        </ul>
    </nav>
  </div>
</header>
